nav {
  height: var(--height-nav);
  background-color: #ffff !important;
  box-shadow: 0 2px 5px rgb(0 48 136 / 20%);
}

.form-inline {
  justify-content: end;
}

.nameApp {
  font-size: 20px;
  font-weight: bold;
}

.perfil {
  width: 15%;
  border-radius: 50%;
  border: 3px #943135 solid;
  margin-right: 10px;
}
